
@model Pluralsight.AspNetDemo.Models.LoginModel


<h1>LogIn</h1>
<hr>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(x => x.UserName);
    @Html.TextBoxFor(x => x.UserName);
    <br>
    @Html.LabelFor(x => x.Password);
    @Html.TextBoxFor(x => x.Password);
    <br>
    <input type="submit" class="btn" value="Login">
}

@Html.ActionLink("Forgot Password?","ForgotPassword")

<div class="col-12">
    @{
        var providers = Context.GetOwinContext().Authentication.GetAuthenticationTypes();

        if (providers != null && providers.Any())
        {
            using (Html.BeginForm("ExternalAuthentication", "Account", FormMethod.Post))
            {
                foreach (var provider in providers)
                {
                    <button class="btn" value="@provider.AuthenticationType" name="provider" type="submit">
                        @provider.Caption
                    </button>
                }

            }
        }
    }
</div>